$title : #243F4D;
$main : #436372;
$subtitle : #191919;

$cost : #a3bbc8;

%Rubik-500 {
  font-family: 'RubikMedium', sans-serif;
  font-weight: 500;
}

%Rubik-400 {
  font-family: 'RubikRegular', sans-serif;
  font-weight: 400;
}

%rDMSans-700 {
  font-family: 'DMSansBold', sans-serif;
  font-weight: 700;
}

%DMSans-400 {
  font-family: 'DMSansRegular', sans-serif;
  font-weight: 400;
}